/******************************
*
*This is an external css
*
******************************/




#header{
    position: relative;
    /* left: 0;
    right: 0;
    width: 100%; */
}


#header h1{
    font-size: 52px;
}

p{
    font-size: 12px;
    color: blue;
}